:root {
  --main-bg-color: #22262c;
  --main-text-color: #ffffff;
  --heading-text-color: #f7f7f7;
  --main-border-color: #333333;
  --highlight-text-color: #61aeee;
  --highlight-border-color: #218EE8;
  --raised-bg-color: #282c34;
}
